.cartItem{
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cartItem_title{
}
.cartItem_price{
    white-space: nowrap;
}
.cartItem_remove{
    cursor: grabbing;
    margin-left: 20px;
}
.cartItem_remove:hover{
    color:red;
}